%div.well.form-horizonta
	%div.abc

	= form_for(@donation, url: donate_url, method: :post, class: "well span5", remote: true) do |d|
		= d.text_field 'name', placeholder: "Your Name Please", class: "span3"
		%br/
		= d.text_field "amount", placeholder: "Amount You Want to Donate", class:"span3"
		%br/
		= d.submit "Donate Please", class: "btn btn-primary"